
body{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
    //line-height: 1.42rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
ul,li{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
    width: 100%;
}
