.about__content{
    //position: absolute;
    // top: rem(135px);
    // left: rem(80px);
    width: 78%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: 138px;
}
.about__title{
    position: relative;
    width: 47.5%;
    margin-left: rem(77px);
}
.about__title-text{
    font-weight: 900; 
    font-size: rem(76px);
    color: #fff;
    line-height: 1;
}
.svg-rect{
    position: absolute;
    bottom: 5%;
    left: 67%;
}
.svg-circle{
    position: absolute;
    top: 22%;
    left: 73%;
}
.svg-polygon{
    position: absolute;
    top: 0;
    left: 53%;
}
.svg-rhomb{
    position: absolute;
    top: 17%;
    left: 106%;
    transform: rotate(45deg);
    transform-origin: center;
}
.about__link{
    display: block;
    margin-top: rem(32px);
    margin-bottom: rem(47px);
    margin-left: rem(77px);
    //margin-left: rem(122px);
    &:hover .about__link-arrow{
        margin-left: rem(20px);
    }
}
.about__link-ins{
    font-weight: 700;
    font-size: rem(14px);
    color: #fff;
}
.about__link-arrow{
    font-weight: 900;
    font-size: rem(23px);
    color: #fff;
    vertical-align: middle;
    margin-left: rem(10px);
    transition: .5s;
}
.about__picture{
    position: absolute;
    right: rem(-10px);
    bottom: rem(-25px);
}
.about-navigate{
    margin-left: rem(77px);
}
.about-navigate__list{
    display: flex;
}
.about-navigate__item{
    width: rem(170px);
    height: rem(92px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: rem(11px) solid #0f33ff;
    margin-right: rem(30px);
    position: relative; 
    &:hover .about-navigate__item-text{
        bottom: rem(-25px);
    }
}
.about-navigate__item-text{
    position: absolute;
    bottom: rem(-15px);
    left: rem(10px);
    color: #fff;
    font-size: rem(14px);
    font-weight: 700;
    letter-spacing: rem(-1px);
    transition: 0.5s;
}

