.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) 0;
    z-index: 100;
}

.logo{
    width: rem(30px);
    height: rem(28px);
    vertical-align: middle;
}
.logo__link-text{
    vertical-align: middle;
    font-weight: 700;
    font-size: rem(16px);
    color: #fff;
    margin-left: rem(10px);
}
.header__link{
    display: inline-block;
    padding: rem(8px) rem(16px);
    background-color: #0f33ff;
    font-weight: 700;
    font-size: rem(14px);
    color: #fff;
    margin-right: rem(90px);
    cursor: pointer;
}
.menu__link{
    display: block;
}
.menu__link-block{
    width: rem(19px);
    height: rem(2px);
    background-color: #fff;
    margin-bottom: rem(4px);
}
.menu__link-block_width{
    width: rem(13px);
    margin-left: rem(3px)
}