.home__content{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.home__content-wrap{
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.051);
    width: 900px;
    height: 400px;    
}
.home__title{
    position: absolute;
    font-weight: 900;
    font-size: 77px;
    color: #fff;
    width: 50%;
    line-height: .95;
    letter-spacing: -3px;
    left: 14px;
    top: -10px; 
}
.home__link{
    display: block;
    position: absolute;
    bottom: 107px;
    left: 11px;
}
.home__link-ins{
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}
.home__link-arrow{
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}
.home__picture{
    position: absolute;
    right: -12px;
    bottom: -6px;
}
.home-navigate{
    margin-top: 10px;
}
.home-navigate__list{
    display: flex;
}
.home-navigate__item{
    width: 268px;
    color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    line-height: 1.5;
    margin-right: 60px;
    &:last-child{
        margin-right: 0;
    }
    b{
        font-size: 18px;
    }
}
