.home__content{
    width: 78%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    top: rem(100px);
    @include tablets{
        top: rem(200px);
        margin: 0 0;
    }   
}
.home__content-wrap{
    position: relative;
    border-bottom: rem(2px) solid rgba(255, 255, 255, 0.051);
    width: 100%;
    height: rem(400px); 
    @include laptop{
        border-bottom: rem(2px) solid transparent;
    }   
}
.home__title{
    position: absolute;
    font-weight: 900;
    font-size: rem(77px);
    color: #fff;
    width: rem(440px);
    line-height: .95;
    letter-spacing: rem(-3px);
    left: rem(14px);
    top: rem(-10px);
    z-index: 2; 
}
.home__link{
    display: block;
    position: absolute;
    bottom: rem(107px);
    left: rem(11px);
    width: rem(90px);
    background-color: #0f33ff;
    height: rem(36px);
    &:hover .home__link-block{
        left: rem(-29px);
    }
}
.home__link-block{
    display: inline-block;
    width: rem(30px);
    background-color: #0f33ff;
    height: rem(36px);
    position: absolute;
    left: 0;
    top: rem(0px);
    transition: 0.5s;
}
.home__link-text-wrap{
    position: absolute;
    top: 50%;
    left: rem(-22px);
    transform: translateY(-50%);
}
.home__link-ins{
    font-weight: 700;
    font-size: rem(14px);
    color: #fff;
}
.home__link-arrow{
    font-weight: 900;
    font-size: rem(20px);
    color: #fff;
    vertical-align: middle;
}
.home__picture{
    position: absolute;
    right: rem(-12px);
    bottom: rem(-6px);
    @include laptop{
        display: none;
    }
}
.home-navigate{
    margin-top: rem(10px);
    @include tablets{
        display: none;
    }
    @include laptop{
        margin-top: rem(-45px);
    }
}
.home-navigate__list{
    display: flex;
}
.home-navigate__item{
    width: rem(268px);
    color: rgba(255, 255, 255, 0.1);
    font-size: rem(16px);
    line-height: 1.5;
    margin-right: rem(56px);
    cursor: pointer;
    transition: 0.3s;
    &:last-child{
        margin-right: 0;
    }
    b{
        font-size: rem(18px);
    }
    p{
        margin: 0;
    }
    &:hover{
        color: rgba(255, 255, 255, 1);
    }
}
