.nav{
    position: fixed;
    z-index: 100;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    @include tablets{
       display: none;
    }
}
.nav__line{
    width: rem(2px);
    height: rem(560px);
    background-color: rgba(255, 255, 255, 0.051);
    vertical-align: top;
}
.nav__list{
    display: inline-block;
    vertical-align: top;
    margin-left: rem(-2px);
    height: rem(500px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__item{
    &::before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: rem(2px);
        height: rem(2px);
        background-color: rgb(255, 255, 255);
        margin-right: rem(10px);
    }
}
.nav__item_activ{
    &::before{
        background-color: #0e2088;
    }
    .nav-text{
        display: inline;
    }
    .nav__link{
        color: rgba(255, 255, 255, 1);
        margin-left: rem(-50px);
    }
}
.nav__link{
    font-size: rem(14px);
    font-weight: 300;
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    vertical-align: middle;
}
.nav-text{
    vertical-align: middle;
    margin-left: rem(40px);
    font-size: rem(14px);
    font-weight: 300;
    color: #fff;
    display: none;
}