.order__content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(730px);
}
.order__title{
    font-size: rem(30px);
    color: rgb(255, 255, 255);
    line-height: 2.4;
}
.order__form{
    text-align: center;
}
.order__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.order__item{
    margin-top: rem(40px);
    margin-left: rem(53px);
    display: inline-block;
    &:first-child{
        margin-left: 0; 
    }
    &:nth-child(4){
        margin-left: 0; 
    }
    &_margin{
        margin-left: 0; 
    }
}
.order__checkbox{
    position: absolute;
    left: rem(-9999px);
}
.order__checkbox:checked + .order__link {
    background: #0f33ff;
    border: rem(2px) solid transparent;
    .mdi-check{
       font-size: rem(18px); 
    }
}
.mdi-check{
    color: #fff;
    font-size: 0;
}
.order__link{
    display: inline-block;
    width: rem(200px);
    height: rem(50px);
    text-align: center;
    line-height: 2.6;
    background: transparent;
    border: rem(2px) solid #fff;
    font-size: rem(18px);
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}
.order__input-wrap{
    margin-top: rem(42px);
}
.order__input{
    background-color: transparent;
    border: transparent;
    border-bottom: rem(2px) solid #fff;
    font-size: rem(30px);
    font-weight: 300;
    color: #fff;
    width: rem(320px);
    &_email{
        margin-left: rem(65px);
    }
    &:focus{
        outline: none;
    }
}
.order__btn{
    margin-top: rem(64px);
    width: rem(400px);
    height: rem(50px);
    background-color: #0f33ff;
    border: transparent;
    cursor: pointer;
    font-size: rem(18px);
    font-weight: 700;
    color: #fff;
}