
.works__content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 100%;
   height: 100%;
}
.works__title{
    font-weight: 900;
    font-size: rem(27px);
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    @include tablets{
        top: 25%;
        
    }  
}
.works__slider{
    margin: 0 auto;
    width: 83%;
    height: 100%;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}
.works__list{
    width: 79%;
    height: 100%;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}
.works__arrow{
    position: absolute;
    display: block;
    width: rem(54px);
    height: rem(54px);
    border-radius: 50%;
    background-color: #282828;
    &_left{
        position: absolute;
        top: 45%;
        left: 0;
    }
    &_right{
        position: absolute;
        top: 45%;
        right: 0;
    }
}
.works__arrow-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: rem(24px);
    color: #fff;
}
.works__item{
   position: absolute;
    &_left{
        width: rem(170px);
        left: 0;
        @include tablets{
           display: none;
        }   
    }
    &_right{
        width: rem(170px);
        right: 0;
        @include tablets{
            display: none;
         }  
    }
}
.works__item-img{
    width: rem(170px);
    height: rem(170px);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.works__item-content{
    text-align: center;
}
.works__item-title{
    font-size: rem(12px);
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-top: rem(5px); 
}
.works__item-text{
    line-height: 1.5;
    font-size: rem(5px);
    color: #fff;
    width: 40%;
    display: inline-block;
    opacity: 0; 
}
.works__item_active{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: rem(330px);
    margin-top: 20px;
    z-index: 10;
    @include tablets{
        width: rem(170px);
    }   
    .works__item-img{
        width: rem(330px);
        height: rem(330px);
        @include tablets{
            width: rem(170px);
            height: rem(170px);
        }   
    }
    .works__item-title{
        margin-top: rem(30px);
        font-weight: 700;
        font-size: rem(18px);
        color: #fff;
        @include tablets{
            width: rem(170px);
        } 
    }
    .works__item-text{
        font-size: rem(16px);
        width: rem(270px);
        opacity: 1;
        margin-top: 20px;
        @include tablets{
            width: rem(170px);
        } 
    }
}

  
